<%- include('includes/head.ejs') %>
<h1>Preguntas laboratorio 13</h1>
<main>
    <h3>¿Qué beneficios encuentras en el estilo MVC?</h3>
    <p> Las ventajas que tiene el estilo MVC son las siguientes, nos permite separar los datos de la representación visual de los mismos, de igual manera es más sencilo agregar múltiples representaciones de los datos, nos genera una dependencia del funcionamiento, facilita el mantenimiento de errores, y nos facilita el agregar nuevos tipos de datos.</p>
    <br>
   
    <h3>¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</h3>
    <p> Las desventajas que tiene el estilo MVC son las siguientes: la separación de conceptos en capas podría agregar más complejidad al sistema, la cantidad de archivos de mantener aumenta al igual que la cantidad de archivos para desarrollar.</p>
    <br>
    </main>
<%- include('includes/foot.ejs') %>