<%- include('includes/head.ejs') %>
<h1>Preguntas laboratorio 17</h1>
<main>
    <h3>¿Qué ventajas tiene escribir el código SQL únicamente en la capa del modelo?</h3>
    <p> La ventaja que nos otorga es el poder agregar como más facilidad nuevos métodos estáticos los cuales ejecuten querys de sql, y lograr mantener la estructura del mmodelo mvc, donde lo referente a información o datos se maneja en el modelo.</p>
    <br>
   
    <h3>¿Qué es SQL injection y cómo se puede prevenir?</h3>
    <p> SQL injection es un tip de ciber ataque el cual se base en insetar código SQL en el body de un a petición de datos en un sitio web col el propósito de quebrantar medidas de seguridad y acceder a datos. La forma de evitar este tipo de ataques es validando el código que se recibe, al igual que los inputs.</p>
    <br>
    </main>
<%- include('includes/foot.ejs') %>