<!DOCTYPE html>
<html lang="es-mx">
    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Caballos</title><meta charset="utf-8"></meta>
    </head>
    <body>
        
        <nav>
            <div class="nav-wrapper">
            <a href="/labs136/" class="brand-logo">laboratorios 1 3 6</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/labs136/lab1">Lab 1</a></li>
                <li><a href="/labs136/lab3">Lab 3</a></li>
                <li><a href="/labs136/lab6">lab 6</a></li>
            </ul>
            </div>
            <div class="nav-wrapper">
                <a href="/labs54/" class="brand-logo">laboratorios 4 5 </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/labs54/lab4">Lab 4</a></li>
                    <li><a href="/labs54/lab5">Lab 5</a></li>
                </ul>
                </div>
        </nav>
        
        <div class="container">