<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/lab4.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laboratorio 4</title>
</head>
<body text="#ffffff" link="#ffffff" vlink="#ffffff">
    <header> 
        <h1>Laboratorio 4</h1>
        <h2>Construcción de software y toma de decisiones</h2>
        <h2>Página web personal</h2>
        <h3>Ariann Fernando Arriaga Alcántara A01703556</h3>
        <h3>A01703556@tec.mx</h3>
    </header>
    <a href="/labs34/">Regresar a lab 12</a>
    <ul class="editor">
        <strong> Ejercicios: </strong>
    </ul>
    <ul class="formulario1">
        <li class="pregunta"> 1: Entrada: un número pedido con un prompt. Salida: Una tabla con los números del 1 al número dado con sus cuadrados y cubos. Utiliza document.write para producir la salida 
            <ul>
                    <br>
                <li>
                    Respuesta: <div id="respuesta1"></div>
                </li>
            </ul>
        </li>
            <li class="pregunta">2: Entrada: Usando un prompt se pide el resultado de la suma de 2 números generados de manera aleatoria. Salida: La página debe indicar si el resultado fue correcto o incorrecto, y el tiempo que tardó el usuario en escribir la respuesta.
            <ul>
                <br>
                <li>
                    Respuesta: <div id="respuesta2"></div>
                </li>
            </ul>
        </li>
        <li class="pregunta">3: Función: contador. Parámetros: Un arreglo de números. Regresa: La cantidad de números negativos en el arreglo, la cantidad de 0's, y la cantidad de valores mayores a 0 en el arreglo.     
            <ul>
                    <br>
                <li>
                    Respuesta: <div id="respuesta3"></div>
                </li>
            </ul>
        </li>
            <li class="pregunta">4: Función: promedios. Parámetros: Un arreglo de arreglos de números. Regresa: Un arreglo con los promedios de cada uno de los renglones de la matriz.
            <ul>
                <br>
                <li>
                    Respuesta:<div id="respuesta4"></div>
                </li>
            </ul>
        </li>
        <li class="pregunta">5: Función: inverso. Parámetros: Un número. Regresa: El número con sus dígitos en orden inverso.
            <ul>
                <br>
                <li>
                    Respuesta:<div id="respuesta5"></div>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="editor">
        <strong>Ejercicio 6: </strong>
    </ul>
    <ul class="cuerpo">
        <p>
            6: Crea una solución para un problema de tu elección (puede ser algo relacionado con tus intereses, alguna problemática que hayas identificado en algún ámbito, un problema de programación que hayas resuelto en otro lenguaje, un problema de la ACM, entre otros). El problema debe estar descrito en un documento HTML, y la solución implementada en JavaScript, utilizando al menos la creación de un objeto, el objeto además de su constructor deben tener al menos 2 métodos. Muestra los resultados en el documento HTML.
        </p>
    </ul>
    <ul class="formulario1">
        <li class="pregunta"> El problema que decidí realizar es una calculadora de area, perimetro y ángulo exterior de un polígono, en base a su radio, tamañano de lado, y número de lados.
            <ul>
                    <br>
                <li>
                    Respuesta: <div id="respuesta6"></div>
                </li>
            </ul>
        </li>
    </ul>

    <ul class="editor">
        <strong>Preguntas del laboratorio 4: </strong>
    </ul>
    
    <ul class="formulario1">
        <li class="pregunta"> ¿Qué diferencias y semejanzas hay entre Java y JavaScript?    
            <ul>
                <br>
                <li>
                    Respuesta: Java crea aplicaciones tras complilarlas por medio de una máquina virtual, mientras que JavaScript se ejecuta de manera nativa en los navegadores al ser un lenguaje interpretado, de igual forma java es un lenguaje fuertemente tipado mientras que JavaScript es un lenguaje debilmente tipado, Java es un lenguaje orientado a objetos mientras que JavaScript es un lenguaje orientado a prototipos, Java es un lenguaje más robusto sin embargo, JavaScript ofrece más versatilidad y flexibilidad.
                </li>
            </ul>
        </li>
            <li class="pregunta">¿Qué métodos tiene el objeto Date? (Menciona al menos 5*)
            <ul>
                <br>
                <li>
                    Respuesta: El objeto Date tiene los siguientes métodos 
                </li>
                <br>
                <li>
                    getDate(): Devuelve el día del mes, un valor numérico entre 1 y 31.  
                </li>
                <br>
                <li>
                    getDay(): Devuelve el día de la semana, un valor numérico entre 0 y 6.
                  </li>
                <br>
                <li>
                    getFullYear(): Devuelve el año con cuatro dígitos.
                </li>
                <br>
                <li>
                    getMilliseconds(): Devuelve los milisegundos entre 0 y 9999.
                </li>
                <br>
                <li>
                    getTime(): Devuelve los milisegundos que han transcurrido desede el día 1 de enero de 1970 y la fecha correspondiente al objeto al que se manda el mensaje.
                </li>
            </ul>
        </li>
        <li class="pregunta"> ¿Qué métodos tienen los arreglos? (Menciona al menos 5*)        
            <ul>
                <br>
                <li>
                    Respuesta: Los arreglos tienen los siguientes métodos.
                </li>
                <br>
                <li>
                   push(): Añada 1 o más elementos al final de un arreglo.  
                </li>
                <br>
                <li>
                    pop(): Elimina y devuelve el ultimo elemento del arreglo.
                  </li>
                <br>
                <li>
                   unshift(): Añade 1 o más elementos al inicio del arreglo.
                </li>
                <br>
                <li>
                    concat(): concatena los elementos pasados por parámetro.
                </li>
                <br>
                <li>
                    slice(init, end): Devuelve los elementos desde posición init hasta end.
                </li>
            </ul>
        </li>
            <li class="pregunta">¿Cómo se declara una variable con alcance local dentro de una función?
            <ul>
                <br>
                <li>
                    Respuesta: Se tiene que utilizar var para declarar las variables ya que permite que la variable declarada sea actualizada y reasignada. Dicha variable tiene que ser declarada dentro de la función.
                </li>
            </ul>
        </li>
        <li class="pregunta">¿Qué implicaciones tiene utilizar variables globales dentro de funciones?
            <ul>
                <br>
                <li>
                    Respuesta: Las implicaciones que tiene usar variables globales dentro de funciones es que dicha variable puede ser alterada o modificada por otras funciones o procesos, al igual que dificulta la legibilidad del código, creando dependencias ocultas, siendo un código más complicado de usar.
                </li>
            </ul>
        </li>
    </ul><ul class="referencias">
        <br>
        <strong>REFERENCIAS:</strong>
        <br>
        <br>
        <li>
            Kamilore. (2018). Métodos de la clase Date JavaScript. febrero 20, 2022, de tutobasico Sitio web: https://tutobasico.com/date-javascript/
        </li>
        <br>
        <li>
            Manz, M. (2019). El tipo Array. febrero 20, 2022, de LenguajeJS Sitio web: https://lenguajejs.com/javascript/fundamentos/arrays/
        </li>
        <br>
        <li>
            S, N. (2017). ¿Es lo mismo Java que Javascript?. febrero 20, 2022, de Isdicoders Sitio web: https://isdicoders.com/es/blog/es-lo-mismo-java-que-javascript_19381#:~:text=Diferencias%20entre%20Java%20y%20Javascript,-Java%20crea%20aplicaciones&text=Java%20es%20un%20lenguaje%20de%20programaci%C3%B3n%20orientado%20a%20objetos%20puramente,un%20lenguaje%20basado%20en%20prototipos.&text=Java%20es%20un%20lenguaje%20mayormente,a%20trav%C3%A9s%20de%20m%C3%A1quinas%20virtuales </li>
        </li>
        </ul>
    <br>
    <script src="/js/lab4.js"></script>
</body>
</html>