<%- include('includes/head.ejs') %>
    <h1>Bienvenido a este sitio de caballos chidos</h1>
    <main>
        <h2>Aquí se habla de caballos</h2>
        <p>Estos son nuestros caballos:</p>
        <div class="row">
        <% if (numeros.length > 0) { %>
                <% for (let num of numeros) { %>
                    <div class="col s12 m4 l3">
                        <div class="card small">
                            <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4"><%= num.phone %><i class="material-icons right">more_vert</i></span>
                            </div>
                        </div>
                    </div>
                <% } %>
        <% } else { %>
            <h3>No hay números registrados</h3>
        <% } %>   
        </div>
        <a href="/labs136/lab1">
            <i class="material-icons">add</i> laboratorio 1</a>
    </main>
<%- include('includes/foot.ejs') %>