<%- include('includes/head.ejs') %>
<h1>Pregunta laboratorio 12</h1>
<main>
    <h2>¿Qué otros templating engines existen para node?</h2>
    <p> Los otros templates engines que existen son los siguientes:</p>
    <ul>
        <li>Pug</li>
        <li>Haml.js</li>
        <li>EJS</li>
        <li>hbs</li>
        <li>Squirrelly</li>
        <li>Eta</li>
        <li>combyne.js</li>
        <li>Nunjucks</li>
        <li>marko</li>
    </ul>
    </main>
<%- include('includes/foot.ejs') %>