<%- include('includes/head.ejs') %>
<h1>Preguntas laboratorio 18</h1>
<main>
    <h3>¿Qué otras formas de autentificación existen?</h3>
    <p> Autenticación por conocimientos: basada en información que sólo conoce el usuario.

        Autenticación por pertenencia: basada en algo que posee el usuario.
        
        Autenticación por características: basada en alguna característica física del usuario.</p>
    <br>
    </main>
<%- include('includes/foot.ejs') %>