<br><br>
        
</div>
    <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col s12">
              <h5 class="white-text">Referencias:</h5>
              <p class="grey-text text-lighten-4">https://medium.com/visually-explained/sql-injection-attacks-visually-explained-c71b5f9e1af2
              </p>
              <p class="grey-text text-lighten-4">https://www.avast.com/es-es/c-sql-injection</p>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2022 Copyright Text             
          </div>
        </div>
      </footer>
  

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>