<%- include('includes/head.ejs') %>
<h1>Preguntas laboratorio 13</h1>
<main>
    <h3>¿Qué beneficios encuentras en el estilo MVC?</h3>
    <p> Los otros templates engines que existen son los siguientes:</p>
    <br>
   
    <h3>¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</h3>
    <p> Los otros templates engines que existen son los siguientes:</p>
    <br>
    </main>
<%- include('includes/foot.ejs') %>